<% provide :title, @user.name %>
<div class="container-fluid well span6 profile">
  <div class="row-fluid">
    <div class="span2" >
      <%= gravatar_for @user %>
    </div>
    <div class="span8">
      <h3><%= @user.name %></h3>
      <h6><%= t ".email" %><%= @user.email %></h6>
      <h6><%= t ".phone" %><%= @user.phone %></h6>
      <h6><%= t ".address" %><%= @user.address %></h6>
    </div>
    <% if @user.is_user? @current_user %>
      <div class="span2">
        <div class="btn-group">
          <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">
            <%= t "action" %>
            <span class="glyphicon glyphicon-cog"></span><span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to t(".edit"), edit_user_path(current_user),
              class: "glyphicon glyphicon-pencil"%></li>
            <li>
              <a href="#">
                <span class="glyphicon glyphicon-trash"></span><%= t ".delete" %>
              </a>
            </li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>
