<div class="company_logos wow bounceIn" data-wow-delay="0.4s">
  <h3>Favorite Drink</h3>
  <div class="ocarousel_slider">
    <div class="ocarousel example_photos" data-ocarousel-perscroll="3">
      <div class="ocarousel_window">
       <a href="#" title="Hp"> <%= link_to image_tag("g1.jpg", width: 340,
        height: 224), class: "img-responsive", alt: "" %></a>
       <a href="#" title="Hp"> <%= link_to image_tag("g1.jpg", width: 340,
        height: 224), class: "img-responsive", alt: "" %></a>
       <a href="#" title="Hp"> <%= link_to image_tag("g1.jpg", width: 340,
        height: 224), class: "img-responsive", alt: "" %></a>
       <a href="#" title="Hp"> <%= link_to image_tag("g1.jpg", width: 340,
        height: 224), class: "img-responsive", alt: "" %></a>
       <a href="#" title="Hp"> <%= link_to image_tag("g1.jpg", width: 340,
        height: 224), class: "img-responsive", alt: "" %></a>
       <a href="#" title="Hp"> <%= link_to image_tag("g1.jpg", width: 340,
        height: 224), class: "img-responsive", alt: "" %></a>
      </div>
      <span>
      <a href="#" data-ocarousel-link="left" class="prev">
        <i class="fa fa-angle-left"></i> </a>
      <a href="#" data-ocarousel-link="right" class="next">
        <i class="fa fa-angle-right"></i></a>
      </span>
    </div>
  </div>
</div>
