<%= form_for product do |f| %>
  <div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
      <% product.product_images.each do |product_images| %>
        <%= image_tag(product_images.image,
          size: Settings.image.size.food_show) %>
      <% end %>
      <div class="caption">
        <h4 class="pull-right"><%= product.price %>$</h4>
        <h4><%= link_to product.name, product_path(product) %></a></h4>
        <p><%= product.description %></p>
      </div>
      <div class="ratings">
        <p class="pull-right">
          <%= product.comments.size%> <%= t "comment" %>
        </p>
        <p class="fa fa-star"><%= product.current_score.round(2) %></p>
      </div>
    </div>
  </div>
<% end %>
