<% provide :title, @product.name %>
<div class="main">
  <div class="reservation_top" id="food_detail">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="post1">
            <h3><a><%= @product.name %></a></h3>
            <div class="post1_header">
              <%= simple_format(h @product.created_at) %>
              <div><%= t ".posted" %>
                <%= time_ago_in_words @product.created_at %>
                <%= t(".ago") %>,
                <div class="post1_header_comments">
                  <div class="fa fa-comments" id="commets_size">
                    <%= @product.comments.size - 1 %>
                  </div>
                  <div class="fa fa-star"><%= @product.current_score %>
                  </div>
                  <div class="stars starrr" data-rating="0"></div>
                </div>
              </div>
              <div class="post1_header_by">
                <%= t ".by_admin" %>
              </div>
            </div>
            <% @product_images.each do |product_images| %>
              <%= image_tag(product_images.image,
                size: Settings.image.size.food_size) %>
            <% end %>
            <p><%= @product.description%></p>
          </div>
          <%= render partial: "comments/add_comment"%>
          <div class="container">
            <div class="row">
              <div class="col-md-8">
                <h2 class="page-header"><%= t(".comment_title") %></h2>
                  <section class="comment-list" id="comment_list">
                    <%= render partial: "comments/comment", collection: @product.comments %>
                  </section>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="category_widget">
            <h3>Category</h3>
            <ul class="list-unstyled arrow">
              <li><a href="#">SeaFood<span class="badge pull-right">21</span></a></li>
              <li><a href="#">Party<span class="badge pull-right">11</span></a></li>
              <li><a href="#">Chicken<span class="badge pull-right">31</span></a></li>
            </ul>
          </div>
          <ul class="blog-list1">
            <h3>Tags</h3>
            <li><a href=""><%= @product.name %></a></li>
          </ul>
          <ul class="recent-list">
            <h3><%= t(".suggest") %></h3>
            <div class="course_demo">
              <ul id="flexiselDemo3">
                <li><%= link_to image_tag("pic1.jpg"), class: "img-responsive",
                  alt: "" %><div class="desc">
                  <h3>STEAMING CRAB</h3>
                  <p>Wellcome<br> this food very good.</p>
                </div></li>
                <li><%= link_to image_tag("pic1.jpg"), class: "img-responsive",
                  alt: "" %><div class="desc">
                  <h3>STEAMING CRAB</h3>
                  <p>Wellcome<br> this food very good.</p>
                </div></li>
                <li><%= link_to image_tag("pic1.jpg"), class: "img-responsive",
                  alt: "" %><div class="desc">
                  <h3>STEAMING CRAB</h3>
                  <p>Wellcome<br> this food very good.</p>
                </div></li>
              </ul>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
