<% provide :title, @product.name %>
<div class="main">
  <div class="reservation_top">
    <div class="container">
      <div class="row">

        <div class="col-md-8">
          <div class="post1">

            <h3><a><%= @product.name %></a></h3>
            <div class="post1_header">
              <%= simple_format(h @product.created_at) %>
              <span><%= t ".posted" %>
                <%= time_ago_in_words @product.created_at %>
                <%= t(".ago") %>,
              </span>
              <span class="post1_header_by" title="admin">
                <%= t ".by_admin" %>
              </span>
              <span class="post1_header_comments" title="comment">
                <a><%= @product.comments.size %> <%= t(".comments") %></a>
              </span>
              <span class="post1_header_comments">
                <a><%= @product.current_score %> <%= t(".point") %>,</a>
              </span>
            </div>
            <%= link_to image_tag(@product.product_images.first.image,
              width: Settings.image.size.food_detail_width,
              height: Settings.image.size.food_detail_height),
              class: "img-responsive"%>
            <p><%= @product.description%></p>
          </div>

          <div class="container">
            <div class="row" style="margin-top:40px;">
              <div class="col-md-6">
                <div class="well well-sm">
                  <div class="row" id="post-review-box">
                    <div class="col-md-12">
                      <form accept-charset="UTF-8" action="" method="post">
                        <input id="ratings-hidden" name="rating" type="hidden">
                        <textarea class="form-control animated" cols="50" id="new-review" name="comment" placeholder= <%= t(".write_comment") %> rows="5">
                        </textarea>
                        <div class="text-right">
                          <div class="stars starrr" data-rating="0">
                          </div>
                          <button class="btn btn-success btn-lg" type="submit">
                            <%= t(".comment") %>
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="container">
            <div class="row">
              <div class="col-md-8">
                <h2 class="page-header"><%= t(".comment_title") %></h2>

                  <section class="comment-list">

                    <%= render partial: "comment", collection: @product.comments %>
                  </section>

              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="category_widget">
            <h3>Category</h3>
            <ul class="list-unstyled arrow">
              <li><a href="#">SeaFood<span class="badge pull-right">21</span></a></li>
              <li><a href="#">Party<span class="badge pull-right">11</span></a></li>
              <li><a href="#">Chicken<span class="badge pull-right">31</span></a></li>
            </ul>
          </div>
          <ul class="blog-list1">
            <h3>Tags</h3>
            <li><a href=""><%= @product.name %></a></li>
          </ul>
          <ul class="recent-list">
            <h3><%= t(".suggest") %></h3>

            <div class="course_demo">
              <ul id="flexiselDemo3">
                <li><%= link_to image_tag("pic1.jpg"), class: "img-responsive",
                  alt: "" %><div class="desc">
                  <h3>STEAMING CRAB</h3>
                  <p>Wellcome<br> this food very good.</p>
                </div></li>
                <li><%= link_to image_tag("pic1.jpg"), class: "img-responsive",
                  alt: "" %><div class="desc">
                  <h3>STEAMING CRAB</h3>
                  <p>Wellcome<br> this food very good.</p>
                </div></li>
                <li><%= link_to image_tag("pic1.jpg"), class: "img-responsive",
                  alt: "" %><div class="desc">
                  <h3>STEAMING CRAB</h3>
                  <p>Wellcome<br> this food very good.</p>
                </div></li>
              </ul>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
