<div class="header">
  <div class="header_top">
  </div>
</div>

<div class="header_bottom">
  <div class="container">
    <div class="logo">
      <h1><a>Framgia</a></h1>
      <%= link_to "Food & Drink", root_path, class: "btn btn-lg btn-primary" %>
    </div>
    <div class="navigation">
      <div>
        <label class="mobile_menu" for="mobile_menu">
          <span>Menu</span>
        </label>
        <input id="mobile_menu" type="checkbox">
        <ul class="nav">
          <li><a href="#"><%= t "home" %></a></li>
          <li><a href="#"><%= t "about" %></a></li>
          <% if logged_in? %>
            <li class="dropdown"><%= link_to current_user.name, "#" %></a>
              <ul>
                <li><%= link_to t("profile"), current_user %></li>
                <li><%= link_to t("logout"), logout_path, method: :delete %></li>
              </ul>
            </li>
          <% else %>
            <li class="dropdown"><%= link_to t("login"), login_path %></li>
          <% end %>
          <li><a href="#">Contact</a></li>
          <div class="clearfix"></div>
        </ul>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
